
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Why Ubuntu is better</title>



     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="css/ubuntu.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="wuibApp" ng-controller="ctrl">
    

    
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=214708658577010";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
->

<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'en-GB'}
</script>
    
            <nav class="navbar navbar-default" role="navigation" data-role="header">
            <div class="container">
                
                <div class="navbar-header">
                </div>
                <a class="navbar-brand" href="/">
                    Why is Ubuntu better
                </a>
                

                <div class="navbar-collapse navbar-right pull-right">
                   <ul class="nav navbar-nav">
                        <li>
                            <a href="http://github.com/mariogrip/whyubuntuisbetter">Edit this page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    <div class="container" data-role="content">
        
        <div class="panel panel-default">
  <div class="panel-heading">Help us share the Awesomeness of Ubuntu to everyone!</div>
  <div class="panel-body">
      Help us share the Awesomeness of Ubuntu to everyone! we are have started #DoTheSwitch campain, we want <b>YOU</b> to Tweet, Google+ or Facebook. Let everyone you know how good Ubuntu really is! Remeber to include #DoTheSwitch!
      <br>
      <center>
      <a href="https://twitter.com/intent/tweet?button_hashtag=DoTheSwitch&text=Give%20%23Ubuntu%20a%20try!%20http%3A%2F%2Fwww.whyubuntuisbetter.com%2F" class="twitter-hashtag-button">Tweet #DoTheSwitch</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      
      <div class="fb-share-button" data-href="http://whyubuntuisbetter.com/" data-layout="button_count"></div>
      
<div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://whyubuntuisbetter.com/"></div>
      </center>
      
  </div>
</div>

        
        <h1><center>This is why simply Ubuntu is better!</center></h1><br>

      <div ng-if="!edit" ng-repeat="items in itemList" class="row">
        <div ng-repeat="item in items" class="col-md-3">
          <div class="panel panel-default panels">
            <div class="panel-body">
                <h2 class="itemName">{{item.title}}</h2>

                <img class="itemImage" ng-if="item.img" ng-src="{{item.img}}" class="img-rounded"/>
                <p>{{item.text}}</p>

            </div>
          </div>
        </div>
      </div>
      <div ng-if="edit" ng-repeat="(nums,items) in itemList" class="row">
        <div ng-repeat="(num, item) in items" class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-body"><i style="color: red;" ng-click="removeItem(nums, num);" class="fa fa-times-circle-o fa-lg pull-right"></i><img ng-if="item.img" ng-src="{{item.img}}" class="img-rounded"/>
              <input value="{{item.title}}"/>
            </div>
          </div>
        </div>
        <div ng-if="hadMoreAtEnd() &amp;&amp; $last" class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-body"><i style="color: green;" ng-click="newItem()" class="fa fa-plus-circle fa-lg"></i>
              <input ng-model="$parent.new.title"/>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="edit" class="row">
        <div ng-if="!hadMoreAtEnd()" class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-body"><i style="color: green;" ng-click="newItem()" class="fa fa-plus-circle fa-lg"></i>
              <input ng-model="new.title"/>
            </div>
          </div>
        </div>
      </div>
        <center>
            <p>
                <a href="https://www.digitalocean.com/?refcode=afe991ab278c"><img src="https://www.digitalocean.com/assets/images/logos-badges/png/DO_Proudly_Hosted_Badge_Grey-1652c782.png" width="150" height="40"></a>
            </p>
            <p>This site is maintained by <a href="mailto:me@mariogrip.com">Marius Gripsgård</a> and is not an any way endorsed by or affiliated with <a href="http://ubuntu.com/">Ubuntu</a> or <a href="http://www.canonical.com/">Canonical</a>. <a href="http://ubuntu.com/">Ubuntu</a> and <a href="http://www.canonical.com/">Canonical</a> are registered trademarks of <a href="http://www.canonical.com/">Canonical Ltd.</a></p>
        </center>
    </div>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="js/root.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>
